* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 27);
}

header h1 {
    font-family: 'Krona One', sans-serif;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

nav {
    background-color: rgb(93, 93, 93);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    grid-area: nav;
}

nav a {
    font-family: 'Krona One', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    row-gap: 40px;
}

.whole_card {
    font-family: 'Krona One', sans-serif;
    width: 400px;
    height: 600px;
    padding: 1rem;
    background-color: #FFF5D0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1rem;
}

/* Banner */
.banner {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    display: flex;
    flex-direction: row;
}

.group_number {
    width: 20%;
    height: 100%;
}

.name {
    width: 80%;
    height: 100%;
    background-color: white;
}

/* Bild Dino */
.picture {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
}

/* Facts */
.facts {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    padding:5px;
}

/* Attributes */
.attributes {
    border: #FFF5D0 solid 0.1rem;
    text-align: center;
}



.iq {
    border-radius: 0 0 0 1rem;
}

.jaw_size {
    border-radius: 0 0 1rem 0;
}


.attributes_description {
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}



.weight_info {
    width: 100%;
    height: 50%;
}

.number_eggs_info {
    width: 100%;
    height: 50%;
}

.speed_info {
    width: 100%;
    height: 50%;
}

.iq_info {
    width: 100%;
    height: 50%;
    border-radius: 0 0 0 1rem;
}

.number_skeletons_info {
    width: 100%;
    height: 50%;
}

.jaw_size_info {
    width: 100%;
    height: 50%;
    border-radius: 0 0 1rem 0;
}

.icon_container {
    width: 28%;
    height: 100%;
    background-color: white;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}


.actual_attribute {
    padding-left: 6px;
}



/* colors */
.primary_color_green {
    background-color: #2BC13A;
}

.secondary_color_green {
    background-color: #68E875;
}

.primary_color_red {
    background-color: #B50000;
}

.secondary_color_red {
    background-color: #FF4E4E;
}

.primary_color_blue {
    background-color: #068EDB;
}

.secondary_color_blue {
    background-color: #AAE0FF;
}

.primary_color_purple {
    background-color: #762BC1
}

.secondary_color_purple {
    background-color: #BE7CFF;
}

.primary_color_darkblue {
    background-color: #0007A7
}

.secondary_color_darkblue {
    background-color: #565DFF;
}

.primary_color_brown {
    background-color: #512C00
}

.secondary_color_brown {
    background-color: #BF6A06;
}

.primary_color_orange {
    background-color: #FB6900
}

.secondary_color_orange {
    background-color: #C0A497;
}

.primary_color_lightgreen {
    background-color: #ACC12B
}

.secondary_color_lightgreen {
    background-color: #ACC12B;
}

/* Text */
.facts h3 {
    font-size: 1rem;
    color: #000000;
    text-align: left;
    padding: 0;
    margin: 0;
}
.group_number h1 {
    font-size: 1.6rem;
    color: #000000;
    text-align: center;
    padding: 0;
    margin: 0;
}

.name h2 {
    font-size: 1.2rem;
    color: #000000;
    text-align: left;
    padding: 0;
    margin: 0;
    text-overflow: clip;
}

.group_number,.name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.actual_attribute h3 {
    font-size: 0.8rem;
    color: #000000;
    text-align: left;
    padding: 0;
    margin: 0;
    text-overflow: clip;
}

.attributes_description h3 {
padding-top: 8px;
}

/* Icons */
.icon_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.card-wrapper {
    display: flex;
  justify-content: center;
  align-items: center;
}

