#cards-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.whole_card {
    font-family: 'Krona One', sans-serif;
    width: 400px;
    height: 600px;
    padding: 1rem;
    background-color: #FFF5D0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0.5rem;
}

/* Banner */
.banner {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group_number {
    width: 20%;
    height: 100%;
    border-radius: 1rem,
}

.name {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/* Bild Dino */
.picture {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    object-fit: cover;
    background-position: center;
}

/* Facts */
.facts {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}

/* Attributes */
.attributes {
    border: #FFF5D0 solid 0.1rem;
    text-align: center;
}



.iq {
    border-radius: 0 0 0 1rem;
}

.jaw_size {
    border-radius: 0 0 1rem 0;
}


.attributes_description {
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}



.weight_info {
    width: 100%;
    height: 50%;
}

.number_eggs_info {
    width: 100%;
    height: 50%;
}

.speed_info {
    width: 100%;
    height: 50%;
}

.iq_info {
    width: 100%;
    height: 50%;
    border-radius: 0 0 0 1rem;
}

.number_skeletons_info {
    width: 100%;
    height: 50%;
}

.jaw_size_info {
    width: 100%;
    height: 50%;
    border-radius: 0 0 1rem 0;
}

.icon_container {
    width: 28%;
    height: 100%;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}


.actual_attribute {
    padding-left: 10%;
}



/* colors */
.primary_color_green {
    background-color: #2BC13A;
}

.secondary_color_green {
    background-color: #68E875;
}

.secondary_color_green {
    background-color: #68E875;
}

.secondary_color_green {
    background-color: #68E875;
}

.primary_color_red {
    background-color: #B50000;
}

.secondary_color_red {
    background-color: #FF4E4E;
}

.primary_color_blue {
    background-color: #068EDB;
}

.secondary_color_blue {
    background-color: #AAE0FF;
}

.primary_color_purple {
    background-color: #762BC1
}

.secondary_color_purple {
    background-color: #BE7CFF;
}

.primary_color_darkblue {
    background-color: #0007A7
}

.secondary_color_darkpurple {
    background-color: #565DFF;
}

.primary_color_brown {
    background-color: #512C00
}

.secondary_color_brown {
    background-color: #BF6A06;
}

.primary_color_orange {
    background-color: #FB6900
}

.secondary_color_orange {
    background-color: #C0A497;
}

.primary_color_lightgreen {
    background-color: #ACC12B
}

.secondary_color_lightgreen {
    background-color: #ACC12B;
}